<h2>Hello!</h2>

<p><%= link_to "Home", root_path %></p>
<form action="calculator">
  <input name="dough_weight"type="text" placeholder="flour in grams" value="<%=params[:dough_weight]%>">
  <input type="submit">
</form>

<p>Your desired final dough weight is <%= @dough_weight %></p>

<ul>
  <% @ingredients.each do |ingredient, value| %>
  <li><%= ingredient.to_s.gsub('_', ' ').capitalize %>: <%= value.round(0) %></li>
  <% end %>
</ul>
